#aboutme {
     text-align: center;
 }

 .aboutmesectiondescription {
     text-align: justify;
     margin-top: 40px;
 }

.aboutmeicons{
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.aboutmeicons > a{
    text-decoration: none;
}

.aboutmeicon{
    margin: 10px;
    color: var(--titleSectionsecondaryColor);
}

.aboutmeicon:hover{
    cursor: pointer;
    color: var(--titleSectiontertiarycolor);
}

.aboutmedownloadlink > a{
    color: black;
}