:root {
    --titleSectionprimaryColor: #f5f5f5;
}

#title {
    color: var(--titleSectionprimaryColor);
    text-align: center;
    padding-top: 200px;
    background-image: url("../images/desertart.jpg");
    background-position: center-top;
}

.title-section-button{
    color: var(--titleSectionprimaryColor);
    border: 1px solid var(--titleSectionprimaryColor);
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
}

.title-section-button:hover {
    background-color: red;
    cursor: pointer;
}