:root {
    --titleSectionprimaryColor: rgb(255, 255, 255);
    --titleSectionsecondaryColor: rgb(128, 147, 150);
    --titleSectiontertiarycolor: rgb(221, 197, 168);
}

#title {
    color: var(--titleSectionprimaryColor);
    text-align: center;
    padding-top: 200px;
    background-image: url("../images/desertart.jpg");
    background-position: center-top;
}

.titlesectionheader{
    margin-bottom: 5px;
}

.titlesectionsubheader{
    margin-bottom: 40px;
}

.titlesectionbutton{
    color: var(--titleSectionprimaryColor);
    border: 1px solid var(--titleSectionprimaryColor);
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
}

.titlesectionbutton:hover {
    background-color: var(--titleSectionprimaryColor);
    color: var(--titleSectionsecondaryColor);
    cursor: pointer;
}